@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

.light:root {
    --bg-color: #f2f2f2;
    --accent: #05a6a6;
    --text-color: #010c0f;
}

.dark:root {
	--bg-color: #010c0f;
    --accent: #05a6a6;
    --text-color: #f2f2f2;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--bg-color);
}

.main {
    height: 100%;
    display: flex;
}

.image-card {
    height: 100%;
    min-width: 40%;
	border-radius: 0 2rem 2rem 0;

    /* background image */
    background-image: url(./images/sea.jpg);
    background-position: bottom;
    background-size: cover;
}

.content {
	flex-grow: 1.61;
    height: 100%;
}

h1 {
    color: var(--accent);
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 0.25ch;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
	font-style: italic;
	font-weight: 100;
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5rem;
}